@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 0px 98px;
  width: 1170px;
}

.header {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfb;
}
.header .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrap .logo {
  width: 103.68px;
  height: 26px;
  display: flex;
  align-items: center;
}
.header .header__wrap .logo .logo__icon {
  width: 19.19px;
  height: 19.21px;
}
.header .header__wrap .logo .logo__name {
  width: 78px;
  height: 13px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #555248;
}
.header .header__wrap .menu {
  width: 422px;
  height: 13px;
}
.header .header__wrap .menu .menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrap .menu .menu__wrap .menu__item > a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}
.header .header__wrap .menu .menu__wrap .menu__item > a:hover {
  opacity: 0.8;
}
.header .header__wrap .icons-header {
  width: 99px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header__wrap .icons-header__item {
  position: relative;
}
.header .header__wrap .icons-header__item > img {
  height: 16px;
}
.header .header__wrap .icons-header__item .total {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 14px;
  bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1a17;
  background: #e6c8b4;
  border-radius: 50%;
}
.header .header__wrap .icons-header__item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.section-main {
  display: flex;
  justify-content: center;
  background: #fdfdfb;
}
.section-main .section-main__wrap {
  position: relative;
  height: 768px;
  display: flex;
}
.section-main .section-main__wrap .section-main__ellipse {
  position: absolute;
  width: 496px;
  height: 100%;
  left: 370px;
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #eae3d4 100%);
  mix-blend-mode: normal;
  -webkit-clip-path: ellipse(100% 60% at right center);
          clip-path: ellipse(100% 60% at right center);
}
.section-main .section-main__wrap .line {
  width: 50px;
  height: 0px;
  border: 1px solid #8b8371;
}
.section-main .section-main__wrap .section-main__header {
  margin-top: 236px;
  margin-left: 22px;
  display: flex;
  z-index: 1;
}
.section-main .section-main__wrap .section-main__header > .line {
  margin-top: 36px;
}
.section-main .section-main__wrap .section-main__header h1,
.section-main .section-main__wrap .section-main__header h3,
.section-main .section-main__wrap .section-main__header p {
  margin-left: 15px;
}
.section-main .section-main__wrap .section-main__header h1 {
  width: 343px;
  height: 48px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #1b1a17;
}
.section-main .section-main__wrap .section-main__header h3 {
  margin-top: 16px;
  width: 154px;
  height: 31px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1b1a17;
}
.section-main .section-main__wrap .section-main__header p {
  margin-top: 39px;
  width: 258px;
  height: 34px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
}
.section-main .section-main__wrap .section-main__header button {
  margin-top: 64px;
  margin-left: 11px;
  width: 205px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #444240;
}
.section-main .section-main__wrap .section-main__header button:hover {
  background-color: #1b1a17;
}
.section-main .section-main__wrap .section-main__watch {
  position: relative;
  margin-left: 55px;
  display: flex;
  z-index: 1;
}
.section-main .section-main__wrap .section-main__watch img {
  position: absolute;
  margin-left: 79px;
  top: -8px;
  width: 502.63px;
  height: 804.25px;
}
.section-main .section-main__wrap .section-main__watch .watch-price {
  margin-top: 138px;
  width: 140px;
  height: 16px;
  display: flex;
  align-items: center;
}
.section-main .section-main__wrap .section-main__watch .watch-price p {
  margin-right: 15.4px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1b1a17;
}
.section-main .section-main__wrap .section-main__watch .watch-price p::after {
  content: url("/img/ruble.svg");
  margin-left: 7px;
}
.section-main .section-main__wrap .section-main__watch .watch-diameter {
  margin-top: 647px;
  margin-left: 342px;
  width: 187px;
  height: 16px;
  display: flex;
  align-items: center;
}
.section-main .section-main__wrap .section-main__watch .watch-diameter p {
  margin-left: 15px;
  width: 122px;
  height: 16px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1b1a17;
}

.heading-2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1b1a17;
}

.section-models {
  height: 720px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.section-models .section-models__wrap {
  position: relative;
}
.section-models .section-models__wrap > .heading-2 {
  margin-top: 79px;
  text-align: center;
}
.section-models__see-all {
  width: 104px;
  height: 26.5px;
  display: block;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 2px solid #c4c0b6;
  color: #444240;
}
.section-models__see-all:hover {
  opacity: 0.8;
}
.section-models__watches {
  margin-top: 25.5px;
  margin-bottom: 86px;
  height: 467px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-models__watch {
  width: 370px;
  height: 467px;
  background: #fdfdfb;
}
.section-models__watch:hover {
  cursor: pointer;
}
.section-models__watch > div {
  margin-top: 20px;
  margin-left: 40px;
  width: 140px;
  display: flex;
  align-items: center;
}
.section-models__watch > div:hover {
  opacity: 0.8;
}
.section-models__name {
  margin-top: 40px;
  margin-left: 40px;
  width: 110px;
  height: 15px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(27, 26, 23, 0.82);
}
.section-models__price {
  margin-top: 10px;
  margin-left: 40px;
  height: 12px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.section-models__price::after {
  content: url("/img/ruble-small.svg");
  margin-left: 6px;
}
.section-models__img {
  margin: 0px auto;
  width: 313px;
  height: 313px;
  display: block;
  background: url(/img/ellipse-watch.svg);
}
.section-models__line {
  width: 30px;
  height: 0px;
  border: 1px solid #8b8371;
}
.section-models__more {
  margin-left: 18px;
  width: 92px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1b1a17;
}

.section-banner {
  position: relative;
  height: 519px;
  background: #fdfdfb url("/img/lines-banner.svg") right no-repeat;
}
.section-banner__background {
  position: absolute;
  width: 468px;
  height: 519px;
  background: #f7f5ef;
}
.section-banner__wrap {
  display: flex;
  justify-content: center;
}
.section-banner__wrap > .container {
  position: absolute;
}
.section-banner__slider {
  display: flex;
}
.section-banner__slider > img {
  margin-top: 52px;
  margin-left: 79px;
  width: 521px;
  height: 414px;
}
.section-banner__text {
  margin-top: 140px;
  margin-left: 70px;
}
.section-banner__text > p {
  margin-top: 38px;
  width: 376px;
  height: 63px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
}
.section-banner__text > button {
  margin-top: 45px;
  width: 205px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #d4b098;
}
.section-banner__text > button:hover {
  opacity: 0.8;
}
.section-banner__pagination {
  margin-top: 20px;
  margin-left: 454px;
  width: 67px;
  height: 12px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.section-banner__pagination::before {
  content: url("/img/arrow-left.svg");
  margin-right: 20px;
  cursor: pointer;
}
.section-banner__pagination::after {
  content: url("/img/arrow-right.svg");
  margin-left: 20px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */