@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import 'reset.scss';

.container {
  margin: 0px 98px;
  width: 1170px;
}

.header {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfb;

  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 103.68px;
      height: 26px;
      display: flex;
      align-items: center;

      .logo__icon {
        width: 19.19px;
        height: 19.21px;
      }

      .logo__name {
        width: 78px;
        height: 13px;

        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.14em;
        text-transform: uppercase;

        color: #555248;
      }
    }

    .menu {
      width: 422px;
      height: 13px;

      .menu__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu__item > a {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;

          color: #555248;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .icons-header {
      width: 99px;
      height: 21px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &__item {
        position: relative;

        > img {
          height: 16px;
        }

        .total {
          position: absolute;
          width: 13px;
          height: 13px;
          left: 14px;
          bottom: 8px;

          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 8px;
          line-height: 9px;

          display: flex;
          align-items: center;
          justify-content: center;

          color: #1b1a17;
          background: #e6c8b4;
          border-radius: 50%;
        }

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }
}

.section-main {
  display: flex;
  justify-content: center;
  background: #fdfdfb;

  .section-main__wrap {
    position: relative;
    height: 768px;
    display: flex;

    .section-main__ellipse {
      position: absolute;
      width: 496px;
      height: 100%;
      left: 370px;

      background: linear-gradient(
        180deg,
        rgba(234, 227, 212, 0) 0%,
        #eae3d4 100%
      );
      mix-blend-mode: normal;
      clip-path: ellipse(100% 60% at right center);
    }

    .line {
      width: 50px;
      height: 0px;
      border: 1px solid #8b8371;
    }

    .section-main__header {
      margin-top: 236px;
      margin-left: 22px;
      display: flex;
      z-index: 1;

      > .line {
        margin-top: 36px;
      }

      h1,
      h3,
      p {
        margin-left: 15px;
      }

      h1 {
        width: 343px;
        height: 48px;

        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 60px;

        color: #1b1a17;
      }

      h3 {
        margin-top: 16px;
        width: 154px;
        height: 31px;

        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;

        color: #1b1a17;
      }

      p {
        margin-top: 39px;
        width: 258px;
        height: 34px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;

        color: rgba(27, 26, 23, 0.82);
      }

      button {
        margin-top: 64px;
        margin-left: 11px;
        width: 205px;
        height: 64px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
        background: #444240;

        &:hover {
          background-color: #1b1a17;
        }
      }
    }

    .section-main__watch {
      position: relative;
      margin-left: 55px;
      display: flex;
      z-index: 1;

      img {
        position: absolute;
        margin-left: 79px;
        top: -8px;
        width: 502.63px;
        height: 804.25px;
      }

      .watch-price {
        margin-top: 138px;
        width: 140px;
        height: 16px;
        display: flex;
        align-items: center;

        p {
          margin-right: 15.4px;
          font-family: 'Prata', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;

          color: #1b1a17;

          &::after {
            content: url('/img/ruble.svg');
            margin-left: 7px;
          }
        }
      }

      .watch-diameter {
        margin-top: 647px;
        margin-left: 342px;
        width: 187px;
        height: 16px;
        display: flex;
        align-items: center;

        p {
          margin-left: 15px;
          width: 122px;
          height: 16px;

          font-family: 'Prata', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;

          color: #1b1a17;
        }
      }
    }
  }
}

.heading-2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;

  color: #1b1a17;
}

.section-models {
  height: 720px;
  display: flex;
  justify-content: center;
  background: #ffffff;

  .section-models__wrap {
    position: relative;

    > .heading-2 {
      margin-top: 79px;
      text-align: center;
    }
  }

  &__see-all {
    width: 104px;
    height: 26.5px;
    display: block;
    margin-left: auto;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    border-bottom: 2px solid #c4c0b6;
    color: #444240;

    &:hover {
      opacity: 0.8;
    }
  }

  &__watches {
    margin-top: 25.5px;
    margin-bottom: 86px;
    height: 467px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__watch {
    width: 370px;
    height: 467px;
    background: #fdfdfb;

    &:hover {
      cursor: pointer;
    }

    > div {
      margin-top: 20px;
      margin-left: 40px;
      width: 140px;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__name {
    margin-top: 40px;
    margin-left: 40px;
    width: 110px;
    height: 15px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: rgba(27, 26, 23, 0.82);
  }

  &__price {
    margin-top: 10px;
    margin-left: 40px;
    height: 12px;

    font-family: 'Prata', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);

    &::after {
      content: url('/img/ruble-small.svg');
      margin-left: 6px;
    }
  }

  &__img {
    margin: 0px auto;
    width: 313px;
    height: 313px;
    display: block;
    background: url(/img/ellipse-watch.svg);
  }

  &__line {
    width: 30px;
    height: 0px;
    border: 1px solid #8b8371;
  }

  &__more {
    margin-left: 18px;
    width: 92px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #1b1a17;
  }
}

.section-banner {
  position: relative;
  height: 519px;
  background: #fdfdfb url('/img/lines-banner.svg') right no-repeat;

  &__background {
    position: absolute;
    width: 468px;
    height: 519px;
    background: #f7f5ef;
  }

  &__wrap {
    display: flex;
    justify-content: center;

    > .container {
      position: absolute;
    }
  }

  &__slider {
    display: flex;

    > img {
      margin-top: 52px;
      margin-left: 79px;
      width: 521px;
      height: 414px;
    }
  }

  &__text {
    margin-top: 140px;
    margin-left: 70px;

    > p {
      margin-top: 38px;
      width: 376px;
      height: 63px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      color: #444240;
    }

    > button {
      margin-top: 45px;
      width: 205px;
      height: 64px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
      background: #d4b098;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__pagination {
    margin-top: 20px;
    margin-left: 454px;
    width: 67px;
    height: 12px;

    font-family: 'Prata', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);

    &::before {
      content: url('/img/arrow-left.svg');
      margin-right: 20px;
      cursor: pointer;
    }

    &::after {
      content: url('/img/arrow-right.svg');
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.section-social {
  margin-top: 81px;
  margin-bottom: 90px;
  height: 460px;
  display: flex;
  justify-content: center;
  background: #ffffff;

  &__wrap {
    display: flex;
  }

  &__text {
    margin-top: 140px;

    > p {
      margin-top: 40px;
      width: 376px;
      height: 43px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;

      color: #444240;
    }
  }

  &__icons {
    margin-top: 118.67px;
    width: 93px;
    height: 22.78px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > img:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__photos {
    margin-left: 71px;
    width: 628px;
    height: 460px;
    display: grid;
    grid-template:
      'A C'
      'B C';
    grid-gap: 10px;

    > img {
      &:nth-child(1) {
        grid-area: A;
      }
      &:nth-child(2) {
        grid-area: B;
      }
      &:nth-child(3) {
        grid-area: C;
      }
    }
  }
}

.footer {
  height: 275px;
  display: flex;
  justify-content: center;
  background: #444240;

  &__wrap {
    width: 1002px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 67px;
    margin-bottom: 23px;
    width: 130px;
    height: 34.02px;
    display: flex;
    align-items: center;

    > img {
      width: 25.11px;
      height: 25.13px;
    }

    > p {
      width: 96px;
      height: 13px;

      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.14em;

      color: #ffffff;
    }
  }

  &__title {
    margin-top: 79px;
    margin-bottom: 33px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__items {
    > li {
      margin-bottom: 15px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      color: rgba(255, 255, 255, 0.75);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
